.container{
    display: flex;
    justify-content: column;
    margin: 0;
     display: grid;
    gap: 40px; 
    margin-left: 5px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
}

.item {
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item:hover{
    scale: 1.1;
}

.item img{
  height: 135px;
}

.pt_esquerda_menu{
    min-height: 100vh;
    position: sticky;
    top: 0px;
    bottom: 0;
   
}

.item span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #353638;
}
#sl_tipo{
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: #f65d09;
}